.listing-container {
  padding: 3% calc(50vw - 500px);
}

.listing-header {
  margin: 30px 0;
  text-align: center;
}

.listing-cards-container {
  max-width: 1000px;
}

.card-container {
  margin: 20px !important;
  height: 240px;
}

.card-container p {
  font-size: 16px;
}
